* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: antiquewhite;
}

.topnav {
    display: flex;
    overflow: hidden;
    background-color: #333;
    justify-content: space-between; 
    align-items: center; 
}

.socials, .menu {
    display: flex; 
    align-items: center;
    margin: 10px;
}

.socials a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.menu a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #04AA6D;
    color: white;
}

.large {
    font-size: 50px;
    padding: 10px 25px;
}

.small {
    font-size: 20px; 
    padding: 20px 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
